.home-wrapper {
	margin-top: 350px;
	text-shadow: 2px 2px 5px #0abab5;
}

.welcome-text {
	font-size: 5rem;
	color: whitesmoke;
	text-align: center;
}

.text-accent {
	color: darkred;
}

.demo-bg {
	background-image: url('../../public/backgroundaxis.jpg');
	background-repeat: repeat;
	background-size: 100vw 100vh;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -100;
	opacity: 0.8;
}