

.card-wrapper {
	width: 300px;
	display: inline-grid;
	margin: 10px;
	transition: .3s;
	border-radius: 6px;
	border: 1px solid lightgray;
	overflow: hidden;
}

.card-wrapper:hover {
	box-shadow: 10px 10px  6px -6px gray;
	opacity: 0.9;
}


.img-container {
	width: 100%;
	text-align: center;
}

.img {
	height: 300px;
}


.text-container {
	margin-bottom: 1rem;
	padding: 10px;
	color: #434040;
	border-top: 1px solid lightgray;
	display: block;
	width: 100%;
}

.product-name {
	font-size: 1.5rem;
	color: #434040;
	display: flex;
}

.product-price {
	text-align: left;
}

